.course-actions{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    background-color: $dark-violet;
    padding-bottom: 1rem;


    a{
        margin-right: 1rem;
        font-weight: bold;
        text-align: center;
        width: 60%;
        text-decoration: none;
        border-radius: 5px;
        display: inline-block;
        margin-top: 1rem;
        border: 2px solid $primary;
        background-color: $primary;
        color: white;
        padding: 0.4rem 1rem;
        transition: .2s all;
    }
    a:hover{
        background-color: $hover
    }
    a:last-of-type{
        border: 2px solid $primary;
        background-color: white;
        color: $primary;
    }
    a:last-of-type:hover{
        background-color: $primary;
        color: white;
    }

    @include mq('md'){
        height: 130px;
        grid-template-columns: 1fr 1fr;
        a{
            width: 80%;
            font-size: 1.3rem;
        }
    }
    @include mq('lg'){
        height: 100px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}