.course-create-details{
    grid: course-create-details;
    p{
        font-size: 1.1rem;
        padding: 0.5rem 0;
    }
    h5{
        margin-top: 1rem;
        margin-bottom: 0.3rem;
        font-size: 1rem;
    }
    input{
        padding:0.4rem 0;
        border-radius: 5px;
        width: 100%;
        border: 1px solid grey;
    }
    textarea{
        padding: 0.4rem;
        border-radius: 5px;
        width: 100%;
        border: 1px solid grey;
    }

    @include mq('md'){
        p{
            font-size: 1.3rem;
        }
        h5{
            font-size: 1.3rem;
        }
        input{
            padding: 0.6rem;
        }
        textarea{
            padding: 0.6rem;
        }
    }
    @include mq('lg'){
        p{
            font-size: 1.4rem;
        }
        h5{
            font-size: 1.4rem;
        }
    }
}