.course-create-errors{
    background-color: $dark-violet;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 2rem;
    p{
        font-weight: bold;
        color: rgb(156, 15, 15);
        padding-bottom: 0.5rem;
    }
    ul{
        margin-left: 1rem;
        li{
            padding-bottom: 0.5rem;
        }
    }

    @include mq('md'){
        p{
            font-size: 1.5rem;
        }
        ul{
            li{
                font-size: 1.3rem;
            }
        }
    }
    @include mq('lg'){
        p{
            font-size: 1.6rem;
        }
        ul{
            li{
                font-size: 1.4rem;
            }
        }
    }
}