.home-card-add{
    cursor: pointer;
    background-color: rgba(214, 214, 214, 0.739);
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 1rem;
    padding-left: 1.5rem;
    color: black;
    height: 55px;
    display: flex;
    align-items: center;
    p{
        margin-left: 0.4rem;
        display: inline-block;
        font-weight: 300;
        font-size: 1.1rem;
    }

    @include mq('md'){
        p{
            font-size: 1.3rem;
        }
    }
    @include mq('lg'){
        p{
            font-size: 1.4rem;
        }
    }
}
.home-card-add:hover{
    color: white;
    background-color: $primary;
}