.logsection{

    a:first-of-type{
        margin-right: 0.5rem;
    }
    a{
        color: rgba(230, 230, 230, 0.849);
        font-size: 1rem;
    }

    a:hover{
        transition: .2s all;
        color: white;
    }
    p{
        display: inline-block;
        color: white;
        padding-right: 0.5rem;
    }

    @include mq('md'){
        p{
            font-size: 1.4rem;
        }
        a{
            font-size: 1.2rem;
        }
    }
    @include mq('lg'){
        p{
            font-size: 1.5rem;
        }
        a{
            font-size: 1.3rem;
        }
    }
}